<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend>Enter Employee Details</legend>
  <div class = "field">
    <%= f.label :inactive %><br>
    <%= f.check_box :inactive, default: false %>Make employee inactive
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %> <em>must have 8 characters minimum</em>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :splits %><br>
    <%= f.text_field :splits %>
    Programs:
  <% @programs.each do |program| %>
    <%= program.name + ", " %>
  <% end %><br>
  Enter in this format: "program, decimal", eg:  Admin, .5, Development, .5
  </div>
  <div class = "field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %> Date to begin accruing sick and vacation
  </div>
  <div>
    <%= f.label :starting_sick %><br>
    <%= f.number_field :starting_sick %> Sick accrued to date selected above
  </div>
  <div>
    <%= f.label :starting_vacation %><br>
    <%= f.number_field :starting_vacation %> Vacation accrued to date selected above
  </div>
  <div class = "field">
    <%= f.label :admin %><br>
    <%= f.check_box :admin, default: false %><br>
    <%= f.label :coordinator %><br>
    <%= f.check_box :coordinator, default: false %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "submit_button" %>
  </div>
  </fieldset>
<% end %>
