<h1>Editing user</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
  <legend>Enter User Details</legend>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :splits %><br>
    <%= f.text_field :splits %>
    Programs: 
  <% @programs.each do |program| %>
    <%= program.name + ", " %>
  <% end %>
  </div>
  <div class = "field">
    <%= f.label :admin %><br>
    <%= f.check_box :admin, default: false %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "submit_button" %>
  </div>
  </fieldset>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
