<div class="container">
<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Percent Time</th>
      <th>Splits</th>
      <th>Admin?</th>
      <th>Coordinator?</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.percent_time %></td>
        <td><%= user.splits %></td>
        <td><% if user.admin? %>YES<% end %></td>
        <td><% if user.coordinator? %>YES<% end %></td>
        <td><%= link_to 'Show', user_path(user), class: 'row_button' %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: 'row_button' %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'row_button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Create a new user", new_user_path %>
<br>
</div>
