<div class="container">
<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Splits</th>
      <th>Admin?</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.splits %></td>
        <td><% if user.admin? %>YES<% end %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: 'row_button' %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'row_button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>