<meta name="viewport" content="width=device-width" />

  <% if @timerecord.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timerecord.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @timerecord.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class = "enter_time">
<%= form_for(@timerecord) do |f| %>

     <div><%= f.label :date %></div><%= f.select(:date, options_for_select(@pay_periods.sort { |x,y| y <=> x }), {}, {:class => "selector"}) %>
     <div><%= f.label :hours %></div><%= f.number_field :hours, value: "80" %>
     <div><%= f.label :vacation %></div><%= f.number_field :vacation, value: "0" %>
     <div><%= f.label :sick %></div><%= f.number_field :sick, value: "0" %>
     <div><%= f.label :holiday %></div><%= f.number_field :holiday, value: "0" %>
     <div><%= f.label :bereavement %></div><%= f.number_field :bereavement, value: "0" %>
     <div><%= f.label :inclement_weather %></div><%= f.number_field :inclement_weather, value: "0" %>
     <div><%= f.label :jury_duty %></div><%= f.number_field :jury_duty, value: "0" %>
     <div id="sum"></div>
  <div class="actions">
    <%= f.submit "Submit", class: "submit_button" %>
  </div>

</div>
<% end %>
