<h2>Summary</h2>
<h3>Pay period ending <%= @period.date %></h3>
<div id = "list_container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Hours worked</th>
        <th>Vacation</th>
        <th>Sick</th>
        <th>Holiday</th>
        <th>Bereavement</th>
        <th>Jury Duty</th>
        <th>Inclement Weather</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
  <% @time_records.each do |t| %>
    <tr class = "<%= cycle('list_line_odd', 'list_line_even') %>">
      <td><%= t.user.name %></td>
      <td><%= t.hours %></td>
      <td><%= t.vacation %></td>
      <td><%= t.sick %></td>
      <td><%= t.holiday %></td>
      <td><%= t.bereavement %></td>
      <td><%= t.jury_duty %></td>
      <td><%= t.inclement_weather %></td>
      <td><%= t.hours + t.vacation + t.sick + t.holiday + t.bereavement + t.jury_duty + t.inclement_weather %></td>
    </tr>
  <% end %>
    </tbody>
  </table>
</div>

<h2>Allocations By User</h2>
  <% @time_records.each do |t| %>
    <h3><%= t.user.name %></h3>
      <% users_split = convert_allocations(t.user.splits) %>
        <div id = "list_container">
          <table class = "allocations_table">
            <thead>
              <tr>
                <th>Program</th>
                <th>Hours worked</th>
                <th>Vacation</th>
                <th>Sick</th>
                <th>Holiday</th>
                <th>Bereavement</th>
                <th>Inclement weather</th>
                <th>Jury Duty</th>
              </tr>
            </thead>
            <tbody>
              <% users_split.each do |allocation| %>
                <tr class = "<%= cycle('list_line_odd', 'list_line_even') %>">
                  <td><%= allocation[0] %></td>
                  <td><%= (t.hours.to_f * allocation[1]).round(2) %></td>
                  <td><%= (t.vacation.to_f * allocation[1]).round(2) %></td>
                  <td><%= (t.sick.to_f * allocation[1]).round(2) %></td>
                  <td><%= (t.holiday.to_f * allocation[1]).round(2) %></td>
                  <td><%= (t.bereavement.to_f * allocation[1]).round(2) %></td>
                  <td><%= (t.inclement_weather.to_f * allocation[1]).round(2) %></td>
                  <td><%= (t.jury_duty.to_f * allocation[1]).round(2) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <div><%= t.user.name %>'s splits:  <%= t.user.splits %></div>
  <% end %>


<h2>Users who did not report: </h2>
<div>

    <% @users_not_reported.each do |u| %>
      <h3><%= u.name %></h3>
        <% users_split = convert_allocations(u.splits) %>
        <% percentage = u.percent_time * 80 %>
        <div id = "list_container">
          <table class = "allocations_table">
            <thead>
              <tr>
                <th>Program</th>
                <th>Hours worked</th>
              </tr>
            </thead>
            <tbody>
              <% users_split.each do |allocation| %>
                <tr class = "<%= cycle('list_line_odd', 'list_line_even') %>">
                  <td><%= allocation[0] %></td>
                  <td><%= percentage * allocation[1] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <div><%= u.name %>'s splits:  <%= u.splits %></div>
  <% end %>

</div>
