  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@transaction) do |f| %>


<table>
  <tr>
    <th>Date</th>
    <th>Vendor</th>
    <th>Who</th>
    <th>What</th>
    <th>Where</th>
    <th>Why</th>
    <th>Amount</th>
    <th>Program</th>
    <th>Account</th>
  </tr>
  <tr>
    <td>
      <%= f.date_select :date %>
    </td>
    <td>
      <%= f.text_field :vendor, class: "entry" %>
    </td>
    <td>
      <%= f.text_field :who, class: "entry" %>
    </td>
    <td>
    <%= f.text_field :what, class: "entry" %>
    </td>
    <td>
      <%= f.text_field :where, class: "entry" %>
    </td>
    <td>
      <%= f.text_field :why, class: "entry" %>
    </td>
    <td>
      <%= f.text_field :amount, class: "amount" %>
    </td>
    <td>
      <%= select(:transaction, :program, options_for_select(@programs)) %>
    </td>
    <td>
      <%= select(:transaction, :account, options_for_select(@accounts)) %>
    </td>
  </tr>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
