<h1>Reporting</h1>
<%= form_tag("/reports/:user_id", method: "get") do %>
  <% if User.find_by(id: session[:user_id]).admin? %>
    <%= select_tag(:user_id, options_for_select(@users_to_select)) %><br>
  <% else %>
    <h3><%= "Welcome #{@user.name}!" %></h3><br>
    <%= hidden_field_tag "user_id", @user.id %>
  <% end %>
  
  Start Date: <%= select_date Date.today.prev_month, prefix: :start_date %><br>
  End Date:   <%= select_date Date.today, prefix: :end_date %><br>
  <%= submit_tag("See transactions") %>
<% end %>


