<div class = "container">
<h1>Reporting</h1>
<%= form_tag("/reports/:user_id", method: "get") do %>
<div class="form">
  <% if User.find_by(id: session[:user_id]).admin? %>
    <%= select_tag(:user_id, options_for_select(@users_to_select), {class: "selector"}) %><br>
  <% else %>
    <h3><%= "Welcome #{@user.first_name}!" %></h3><br>
    <%= hidden_field_tag "user_id", @user.id %>
  <% end %>
</div>

<div class = "form">Statement Start Month: </div>
  <%= select_date Date.today.prev_month, order: [:month, :year], prefix: :start_date, with_css_classes: true %><br>
<div class = "form">Statement End Month: </div>
  <%= select_date Date.today, order: [:month, :year], prefix: :end_date, with_css_classes: true %><br>

<div class="form">
  <%= submit_tag("See transactions", class: "submit_button") %>
</div>
<% end %>
</div>
