<h1>Reporting</h1>
<%= form_tag("/reports/:user_id", method: "get") do %>
  <%= select_tag(:user_id, options_for_select(@users_to_select)) %><br>
  Start Date: <%= select_date Date.today, prefix: :start_date %><br>
  End Date:   <%= select_date Date.today, prefix: :end_date %><br>
  <%= submit_tag("See transactions") %>
<% end %>

