<!DOCTYPE html>
<html>
<head>
  <title>CC Reporting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% stylesheet_link_tag('default', :media => :screen) %>
  <% stylesheet_link_tag('print', :media => :print) %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id = "navbar">
<ul>
<% if logged_in? %>
  <li><%= link_to "All Transactions", transactions_path, class: "nav_button" %></li>
  <li><%= link_to "Reports", reports_path, class: "nav_button" %></li>
  <li><%= link_to "Logout", logout_path, method: :delete, class: "nav_button" %></li>

<% end %>
</ul>
</div>
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<%= yield %>


<div id = "footer">
<ul>
<% if logged_in? %>
  <li><%= link_to 'New Transaction', new_transaction_path, class: "nav_button" %></li>
<% end %>
<% if logged_in? && is_admin? %>
  <li><%= link_to "Admin menu", admin_path, class: "nav_button" %></li>
<% end %>

</ul>
</div>

</body>
</html>
