<!DOCTYPE html>
<html>
<head>
  <title>Reporting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% stylesheet_link_tag('default', :media => :screen) %>
  <% stylesheet_link_tag('print', :media => :print) %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id = "navbar">
<ul>
<% if logged_in? %>
  <li><%= link_to "All Transactions", transactions_path, class: "nav_button", title: "View all your credit card transactions" %></li>
  <li><%= link_to "Time Records", time_records_path, class: "nav_button", title: "View all your time records" %></li>
  <li><%= link_to "Reports", reports_path, class: "nav_button", title: "Create a monthly credit card report" %></li>

<% end %>
</ul>
</div>
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<%= yield %>


<div id = "footer">
  <ul>
    <% if logged_in? %>
      <li><%= link_to 'NewTransaction', new_transaction_path, class: "nav_button", title: "Add a new credit card transaction" %></li>
      <li><%= link_to "Enter Time", new_time_record_path, class: "nav_button", title: "Enter your hours worked" %></li>
      <% if is_admin? %>
        <li><%= link_to "Admin menu", admin_path, class: "nav_button", title: "Admin options" %></li>
      <% elsif is_coordinator? %>
        <li><%= link_to "Coordinator menu", coordinator_path, class: "nav_button", title: "Coordinator Options" %></li>
      <% else %>
        <li><%= link_to "Other options", user_options_path, class: "nav_button", title: "Other Options" %></li>
      <% end %>
    <% end %>
  </ul>
</div>
<% if logged_in? %>
  <%= link_to "Logout", logout_path, method: :delete %>
<% end %>

</body>
</html>
